@import '~antd/dist/antd.css';
@import './json.css';
@import "~nprogress/nprogress.css";

body {
	overflow: hidden;
	overscroll-behavior: contain;
}

.module-menu {
	border: none;
	justify-content: end;
}

.ant-typography.page-title {
	margin: 0;
}

table tr.inactive, .ant-list .ant-list-item.inactive {
	opacity: 0.5;
}

.adm-jumbo-tabs .adm-jumbo-tabs-content {
	padding: 0;
}
